/*Written by hzx*/
a:link {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}
.linkfixedcolor{
    color: white;}
.citedlinkcolor{color: #ee457f;}
body{
    background:#7db9de}
#middle p{
    text-indent: 2em;}
#left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    margin:0 1%;
    width: 15%;
    height: 100%;}
#middle{
    overflow-y: scroll;
    position: absolute;
    left: 17%;
    right: 15%;
    margin: 0 2%;
    width: 62%;
    height: 100%;}
#right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    width: 15%;
    height: 100%;}
#left_top{
    margin: 2% auto 0;}
#left_middle{margin: 0 auto;}
#katou_megumi{
    margin:25% auto 0;}
.greeting{
    color:white;
    text-align: center;}
#kokoronashi{
    color: white;
    font-size: 1.25em;}
#portrait{
    margin: 5px auto;}
ul{
    list-style-type: none;}
#options{
    border-top: 1px solid white;
    border-bottom: 1px solid white;}
.a{
    line-height: 400%;
    text-decoration: none;
    text-align: center;}
.idiom{
    color: #ffb11b;
    text-align: center;}
.time_point{
    position: absolute;
    right: 2px;
    top: 2px;}
#middle::-webkit-scrollbar{width: 0.5em;}
#middle::-webkit-scrollbar-track{background:#7db9de}
#middle::-webkit-scrollbar-thumb{background: #005caf;border-radius: 6px;}
#middle::-webkit-scrollbar-button{display: none;}
