/*Anime*/
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

body {
    background: whitesmoke;
}

#top{
    height: 134px;
    width: 100%;
    border: 2px solid #51a8dd;
    position: relative;
}

#tips{
    list-style-type: upper-roman;
    height: 134px;
    width: fit-content;
}

#tips_wrap{
    width: fit-content;
    margin: auto 0 auto 10px;
}
#portrait {
    position: absolute;
    right: 3px;
    top: 2px;
}

#main {
    position: absolute;
    top: 150px;
}

.fragment {
    float: left;
    margin:5px 20px;
    border:2px solid #a5dee4;
    width: 181px;
    height: fit-content;
    box-shadow: 2px 2px 3px #aaaaaa;
}

.descri {
    width: 190px;
    height: fit-content;
    padding: 0 2px;
}

.descri p{
    text-indent:2em;
}

.name {
    text-align: center;
    color:#7db9de;
}