
#Wrap {
    background: #eaf3f8;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#IndexPicture {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

#FormPartion {
    margin: 20px auto;
    width: max-content;
}


.CoProperty {
    width: 315px;
    height: 35px;
    margin: 30px 0;
    display: block;
    border-radius: 2px;
    border: none;
    padding-left: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type=text] {
    background: url(account.png) no-repeat left/35px 100%;
}

input[type=password] {
    background: url(password.png) no-repeat left/35px 100%;
}

input[type=submit] {
    display: block;
    background-color: #4c93f0;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 30px auto;
    width: 50%;
    height: 30px;
}
