/*Prose*/
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}
body{
    background: #7db9de;}
#merry{
    color: #e83015;}
#main{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    float: right;
    width: 70%;}
.conet{
    margin: 20px 0;
    padding: 5px 10px;
    background-color: white;
    border: 5px solid white;
    border-radius: 1em;
    position: relative;}
.label{
    color: #ee457f;
    font-size: 1em;}
.time_point{
    position: absolute;
    right: 2px;
    top: 2px;}